---
page_title: "authentik_policy_dummy Resource - terraform-provider-authentik"
subcategory: "Policies"
description: |-
---

# authentik_policy_dummy (Resource)

## Example Usage

```terraform
# Create a dummy policy for testing

resource "authentik_policy_dummy" "name" {
  name = "dummy"
}
```

{{ .SchemaMarkdown | trimspace }}
