---
page_title: "authentik_policy_expression Resource - terraform-provider-authentik"
subcategory: "Policies"
description: |-
---

# authentik_policy_expression (Resource)

## Example Usage

```terraform
# Create expression policys

resource "authentik_policy_expression" "name" {
  name       = "expression"
  expression = "return True"
}
```

{{ .SchemaMarkdown | trimspace }}
