---
page_title: "authentik_policy_hibp Resource - terraform-provider-authentik"
subcategory: "Policies"
description: |-
---

# authentik_policy_hibp (Resource)

## Example Usage

```terraform
# Create haveibeenpwned.com policy

resource "authentik_policy_hibp" "name" {
  name = "hibp"
}
```

{{ .SchemaMarkdown | trimspace }}
