---
page_title: "authentik_policy_expiry Resource - terraform-provider-authentik"
subcategory: "Policies"
description: |-
---

# authentik_policy_expiry (Resource)

## Example Usage

```terraform
# Create expiry policy

resource "authentik_policy_expiry" "name" {
  name = "expiry"
  days = 3
}
```

{{ .SchemaMarkdown | trimspace }}
