---
page_title: "authentik_property_mapping_ldap Resource - terraform-provider-authentik"
subcategory: "Customization"
description: |-
---

# authentik_property_mapping_ldap (Resource)

## Example Usage

```terraform
# Create a custom LDAP property mapping

resource "authentik_property_mapping_ldap" "name" {
  name         = "custom-field"
  object_field = "username"
  expression   = "return ldap.get('sAMAccountName')"
}
```

{{ .SchemaMarkdown | trimspace }}
