---
page_title: "authentik_stage_dummy Resource - terraform-provider-authentik"
subcategory: "Flows & Stages"
description: |-
---

# authentik_stage_dummy (Resource)

## Example Usage

```terraform
# Create dummy stage

resource "authentik_stage_dummy" "name" {
  name = "dummy"
}
```

{{ .SchemaMarkdown | trimspace }}
