---
page_title: "authentik_stage_email Resource - terraform-provider-authentik"
subcategory: "Flows & Stages"
description: |-
---

# authentik_stage_email (Resource)

## Example Usage

```terraform
# Create email stage for email verification, uses global settings by default

resource "authentik_stage_email" "name" {
  name = "email-verification"
}
```

{{ .SchemaMarkdown | trimspace }}
