---
page_title: "authentik_stage_user_login Resource - terraform-provider-authentik"
subcategory: "Flows & Stages"
description: |-
---

# authentik_stage_user_login (Resource)

## Example Usage

```terraform
# Create a user login stage

resource "authentik_stage_user_login" "name" {
  name = "user-login"
}
```

{{ .SchemaMarkdown | trimspace }}
