---
page_title: "authentik_stage_password Resource - terraform-provider-authentik"
subcategory: "Flows & Stages"
description: |-
---

# authentik_stage_password (Resource)

## Example Usage

```terraform
# Create a password stage that tests against the interla database

resource "authentik_stage_password" "test" {
  name     = "test-stage"
  backends = ["authentik.core.auth.InbuiltBackend"]
}
```

{{ .SchemaMarkdown | trimspace }}
