---
page_title: "authentik_stage_deny Resource - terraform-provider-authentik"
subcategory: "Flows & Stages"
description: |-
---

# authentik_stage_deny (Resource)

## Example Usage

```terraform
# Create deny stage, can be used with policies

resource "authentik_stage_deny" "name" {
  name = "deny"
}
```

{{ .SchemaMarkdown | trimspace }}
