---
page_title: "authentik_stage_authenticator_sms Resource - terraform-provider-authentik"
subcategory: "Flows & Stages"
description: |-
---

# authentik_stage_authenticator_sms (Resource)

{{ .SchemaMarkdown | trimspace }}
