---
page_title: "authentik_stage_invitation Resource - terraform-provider-authentik"
subcategory: "Flows & Stages"
description: |-
---

# authentik_stage_invitation (Resource)

## Example Usage

```terraform
# Create invitation stage

resource "authentik_stage_invitation" "name" {
  name = "invitation"
}
```

{{ .SchemaMarkdown | trimspace }}
