---
page_title: "authentik_users Data Source - terraform-provider-authentik"
subcategory: "Directory"
description: |-
  Get users list
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

{{ if .HasExample -}}
## Example Usage

{{ printf "{{tffile %q}}" .ExampleFile }}
{{- end }}

{{ .SchemaMarkdown | trimspace }}
