name: test
on:
  push:
    branches:
      - main
  pull_request:
  schedule:
    - cron: "0 13 * * *"

permissions:
  contents: read

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v5
      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6
        with:
          go-version-file: go.mod
          cache: true
      - name: Build
        run: |
          go build -v .
  lint:
    name: Lint
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v5
      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6
        with:
          go-version-file: go.mod
          cache: true
      - uses: golangci/golangci-lint-action@1e7e51e771db61008b38414a730f564565cf7c20 # v8
  test:
    name: Acceptance tests - authentik ${{ matrix.authentik_version }} - Terraform ${{ matrix.terraform }}
    runs-on: ubuntu-latest
    timeout-minutes: 30
    permissions:
      # Needed for checkout
      contents: read
      # Needed for codecov OIDC token
      id-token: write
    strategy:
      fail-fast: false
      matrix:
        allow_failure: [false]
        terraform:
          - "beta"
          - "rc"
          - "latest"
        authentik_version:
          - "beta"
        include:
          - authentik_version: "stable"
            terraform: latest
            allow_failure: true
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v5
      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6
        with:
          go-version-file: go.mod
          cache: true
      - uses: goauthentik/action-setup-authentik@9640994d98397fb40b525e6795c29d407ad201fa # v2.0
        id: setup
        with:
          version: ${{ matrix.authentik_version }}
          sentry_env: goauthentik-terraform-ci
      - uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd # v3
        with:
          terraform_version: ${{ matrix.terraform }}
          terraform_wrapper: false
      - name: TF acceptance tests
        timeout-minutes: 30
        env:
          AUTHENTIK_TOKEN: ${{ steps.setup.outputs.admin_token }}
          AUTHENTIK_URL: ${{ steps.setup.outputs.http_url }}
        run: |
          make test 2>&1 | tee test-output
      - if: ${{ always() }}
        run: |
          go tool github.com/jstemmer/go-junit-report/v2 -in test-output -set-exit-code -iocopy -out junit.xml
      - name: authentik Server logs
        if: ${{ always() }}
        run: |
          docker logs ${{ steps.setup.outputs.server_container_id }}
      - name: authentik Worker logs
        if: ${{ always() }}
        run: |
          docker logs ${{ steps.setup.outputs.worker_container_id }}
      - if: ${{ always() }}
        uses: test-summary/action@31493c76ec9e7aa675f1585d3ed6f1da69269a86 # v2
        with:
          paths: junit.xml
          show: "fail"
      - if: ${{ always() }}
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5
        with:
          flags: authentik-${{ matrix.authentik_version }}
          use_oidc: true
      - if: ${{ always() }}
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5
        with:
          flags: authentik-${{ matrix.authentik_version }}
          use_oidc: true
          report_type: test_results
