name: test
on:
  push:
    branches:
      - main
  pull_request:
  schedule:
    - cron: "0 13 * * *"

permissions:
  contents: read

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6
        with:
          go-version-file: go.mod
          cache: true
      - name: Build
        run: |
          go build -v .
  lint:
    name: Lint
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6
        with:
          go-version-file: go.mod
          cache: true
      - uses: golangci/golangci-lint-action@0a35821d5c230e903fcfe077583637dea1b27b47 # v8
  test:
    name: Acceptance tests - Terraform ${{ matrix.terraform }} - authentik ${{ matrix.authentik_version }}
    runs-on: ubuntu-latest
    timeout-minutes: 30
    permissions:
      # Needed for checkout
      contents: read
      # Needed for codecov OIDC token
      id-token: write
    strategy:
      fail-fast: false
      matrix:
        allow_failure: [false]
        terraform:
          - "beta"
          - "rc"
          - "latest"
        authentik_version:
          - "beta"
        include:
          - authentik_version: "stable"
            terraform: latest
            allow_failure: true
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6
        with:
          go-version-file: go.mod
          cache: true
      - uses: goauthentik/action-setup-authentik@c59fd7e38151d89059eae2fd2100409601549d98 # v1.4
        id: setup
        with:
          version: ${{ matrix.authentik_version }}
          sentry_env: goauthentik-terraform-ci
      - uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd # v3
        with:
          terraform_version: ${{ matrix.terraform }}
          terraform_wrapper: false
      - name: TF acceptance tests
        timeout-minutes: 30
        env:
          AUTHENTIK_TOKEN: ${{ steps.setup.outputs.admin_token }}
          AUTHENTIK_URL: ${{ steps.setup.outputs.http_url }}
        run: |
          make test 2>&1 | tee test-output
      - if: ${{ always() }}
        run: |
          go tool github.com/jstemmer/go-junit-report/v2 -in test-output -set-exit-code -iocopy -out junit.xml
      - name: authentik Server logs
        if: ${{ always() }}
        run: |
          docker logs ${{ steps.setup.outputs.server_container_id }}
      - name: authentik Worker logs
        if: ${{ always() }}
        run: |
          docker logs ${{ steps.setup.outputs.worker_container_id }}
      - if: ${{ always() }}
        uses: test-summary/action@31493c76ec9e7aa675f1585d3ed6f1da69269a86 # v2
        with:
          paths: junit.xml
          show: "fail"
      - if: ${{ always() }}
        uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7 # v5
        with:
          flags: authentik-${{ matrix.authentik_version }}
          use_oidc: true
      - if: ${{ always() }}
        uses: codecov/test-results-action@47f89e9acb64b76debcd5ea40642d25a4adced9f # v1
        with:
          flags: authentik-${{ matrix.authentik_version }}
          use_oidc: true
